/*内容*/
.middle {margin-top: 20px;overflow:hidden;}
/*左边*/
.middle .fl {width: 200px;background: #ebebeb;padding-top: 17px;margin-bottom: -9999px;padding-bottom: 10049px;}
.middle .fl h1 {padding-bottom: 10px;border-bottom: 1px dashed #9e9e9e;font-size: 16px;margin-bottom: 10px;}
.middle .fl ul li dl dt {font-size: 15px;color: #ff5500;height: 37px;line-height: 37px;padding-left: 24px;}
.middle .fl ul li dl dd {height: 36px;line-height: 36px;padding-left: 24px;}
.middle .fl ul li dl dd a {font-size: 15px;text-decoration: none;color: #555555;}
.middle .fl ul li dl dd:hover {background: #f7f7f7;background-image: url(../image/hong.jpg);background-repeat: no-repeat;}
.middle .fl ul li dl .current {background: #f7f7f7;background-image: url(../image/hong.jpg);background-repeat: no-repeat;}

/*右边*/
.middle .fr {width: 840px;}
.middle .fr .m_f_t {height: 60px;border-bottom: 1px solid #dddddd;line-height: 60px;font-size: 16px;}
.middle .fr .m_f_t .place {color: #888888;font-size: 16px;}
.middle .fr .con {margin-top: 20px;}
.middle .fr .con p {font-size: 14px;color:#555555;line-height: 30px;}

/*热销*/
.hot {margin-top: 90px;margin-bottom: 40px;}
.hot .title {font-size: 16px;font-weight: bold;padding-bottom: 10px;border-bottom: 2px solid #000000}
.hot .content {padding-top: 14px;}
.hot .content ul li {padding: 0 20px 10px 20px;width: 175px;border-right: 1px dashed #aaaaaa;float: left;}
.hot .content ul li:last-child {border-right: 0;}
.hot .content ul li .pic {width: 166px;height: 128px;overflow: hidden;}
.hot .content ul li .pic img {width: 166px;}
.hot .content ul li .price {font-size: 15px;color: #ff5500;font-weight: bold;margin: 10px 0;}
.hot .content ul li .goumai {width: 110px;height: 35px;border: 1px solid #ff5500;display: block;line-height: 35px;text-align: center;font-size: 16px;color: #ff5500;border-radius: 20px;margin-left: 30px;}










