/*我的购物车*/
.my_car {height: 68px;border: 1px solid #dddddd;margin-top: 25px;background: #f7f7f7;}
.my_car h1 {font-size: 20px;float: left;line-height: 68px;margin-left: 20px;font-weight: normal}
.my_car .place {float: right;position: relative;margin-right: 30px;}
.my_car .place ul li {float: left;text-align: center;width: 100px;margin-top: 10px;position: relative;z-index: 100}
.my_car .place ul li span {display: block;width: 23px;height: 23px;line-height: 23px;text-align: center;background: #7f7f7f;color: #ffffff;border-radius: 23px;font-size: 16px;margin-left: 38.5px;}
.my_car .place ul li p {font-size: 15px;margin-top: 5px;}
.my_car .place ul .current span {background: #ff5500;}
.my_car .place ul .current p {color: #ff5500}
.my_car .place .heng {height: 4px;background: #dddddd;position: absolute;width: 180px;left: 60px;top: 20px;}

/*选择*/
.details {margin-top: 20px;}
.details .title {height: 20px;margin-bottom: 10px;}
.details .title div {float: left;text-align: center;font-size: 15px;font-weight: bold}
.details .goods {border: 1px solid #eeeeee;margin-top: 10px;background: #fffcec;border-bottom: none;margin-bottom: 20px;}
.details .goods .goods_details {height: 105px;width: 100%;border-bottom: 1px solid #eeeeee}
.details .goods .goods_details div {float: left;height: 100%;}
.details .goods .goods_details .g_one {width: 64px;line-height: 105px;padding-left: 20px;}
.details .goods .goods_details .g_one img {margin-top: 40px;cursor: pointer}

.details .goods .goods_details .g_two {width: 430px;}
.details .goods .goods_details .g_two .h {margin-top: 20px;}
.details .goods .goods_details .g_two .h .pic {width: 60px;height: 60px;border: 1px solid #eeeeee;background: #ffffff;float: left;}
.details .goods .goods_details .g_two .h .pic img {width: 60px;height: 60px;}
.details .goods .goods_details .g_two .h .miaoshu {padding-left: 10px;float: left;width: 350px;}

.details .goods .goods_details .g_three {width: 141px;text-align: center;}
.details .goods .goods_details .g_three .y {color: #888888;text-decoration: line-through;margin-top: 30px;}
.details .goods .goods_details .g_three .k {font-size: 16px;font-weight: bold;}

.details .goods .goods_details .g_four {width: 141px;}
.details .goods .goods_details .g_four div {height: 20px;border: 1px solid #eeeeee;margin-top: 40px;margin-left: 40px;}
.details .goods .goods_details .g_four div span {width: 20px;height: 20px;display: block;float: left;background: #ffffff;font-size: 20px;text-align: center;line-height: 16px;cursor: pointer;}
.details .goods .goods_details .g_four div input {float: left;width: 30px;border: none;text-align: center;}

.details .goods .goods_details .g_five {width: 141px;text-align: center;}
.details .goods .goods_details .g_five p {font-size: 16px;font-weight: bold;color: #ff5500;margin-top: 40px;}

.details .goods .goods_details .g_six {width: 141px;}
.details .goods .goods_details .g_six span {background: url(../image/laji.png) no-repeat;width: 23px;height: 26px;display: block;margin: 35px 0 0 65px;cursor: pointer;}


/*下部分*/
.details .d_d {height: 60px;margin-bottom: 20px;}
.details .d_d .d_d_l {line-height: 60px;float: left;}
.details .d_d .d_d_r {width: 280px;float: left;height: 100%;margin-left: 545px;}
.details .d_d .d_d_r .o {margin-top: 5px;}
.details .d_d .d_d_r .o font {margin-left: 30px;}
.details .d_d .d_d_r .o span {color: #ff5500;font-size: 16px;font-weight: bold}
.details .d_d .d_d_r .t {color: #888888;padding-left: 20px;margin-top: 5px;}
.details .d_d .d_d_r .t font {margin-left: 30px;}

.details .d_d .jiesuan {width: 120px;height: 60px;display: block;background: #ff5500;color: #ffffff;font-size: 16px;line-height: 60px;text-align: center;float: left;text-decoration: none;}

/*热销*/
.hot {margin-top: 90px;margin-bottom: 40px;}
.hot .title {font-size: 16px;font-weight: bold;padding-bottom: 10px;border-bottom: 2px solid #000000}
.hot .content {padding-top: 14px;}
.hot .content ul li {padding: 0 20px 10px 20px;width: 175px;border-right: 1px dashed #aaaaaa;float: left;}
.hot .content ul li:last-child {border-right: 0;}
.hot .content ul li .pic {width: 166px;height: 128px;overflow: hidden;}
.hot .content ul li .pic img {width: 166px;}
.hot .content ul li .price {font-size: 15px;color: #ff5500;font-weight: bold;margin: 10px 0;}
.hot .content ul li .goumai {width: 110px;height: 35px;border: 1px solid #ff5500;display: block;line-height: 35px;text-align: center;font-size: 16px;color: #ff5500;border-radius: 20px;margin-left: 30px;}

























