/*轮播图*/
.index_banner{float:left;position:relative;width:100%;height:452px;overflow:hidden;margin-top: -7px;}
.index_banner ul li{position:absolute;float:left;width:100%;min-width:1000px;height:485px;text-align:center;overflow:hidden;}
.index_banner ul li a{display:block;height:100%;}
.index_banner .btnBg{position:absolute;width:100%;height:17px;left:0;bottom:10px;}
.index_banner .btn{margin:0 auto;width:1000px;height:17px;text-align:center;}

#focus ul{position:absolute;float:left;width:100%;}
#focus .btn span{display:inline-block;width:10px;height:10px;font-size:0;margin-left:5px;cursor:pointer;background: #ffffff;border-radius: 10px;}
#focus .btn span.on{background: #ff9900}
#focus .preNext{width:45px;height:100px;margin-top:-50px;cursor:pointer;position:absolute;top:50%;}
#focus .pre{left:20%;background:url(../image/prev.png) no-repeat 0 0;}
#focus .next{right:20%;background:url(../image/next.png) no-repeat 0 0;}

/*内容*/
.content {background: #f5f5f5;}
/*推荐*/
.tuijian {padding:40px 0 30px 0;}
.tuijian .wenzi {position: relative;}
.tuijian .wenzi .a_wenzi {width: 380px;height: 45px;background: #fc5f1c;color: #ffffff;font-family: "方正华隶简体";font-size: 36px;text-align: center;line-height: 45px;margin: 0 auto;border-radius: 30px;z-index: 2;position: relative;margin-bottom: 30px;}
.tuijian .wenzi .heng {height: 1px;background: #fc5f1c;position: absolute;top: 50%;width: 100%;}

.tuijian .shangping {height: 390px;position: relative;border: 1px solid #e8e8e8;margin-bottom: 40px;background: #ffffff}
.tuijian .shangping ul li {float: left;width: 334px;height: 165px;padding: 15px 0 15px 25px;}
.tuijian .shangping ul li .pic {width: 135px;height: 160px;}
.tuijian .shangping ul li .pic img {width: 135px;}
.tuijian .shangping ul li .dd {margin-left: 20px;margin-top: 20px;}
.tuijian .shangping ul li .dd h1 {margin-bottom: 10px;}
.tuijian .shangping ul li .dd h1 a {font-size: 15px;}
.tuijian .shangping ul li .dd .one {color: #fc5f1c;margin-bottom: 10px;}
.tuijian .shangping ul li .dd .two {margin-bottom: 10px;}
.tuijian .shangping ul li .dd .two span{color: #fc5f1c;font-size: 14px;margin-right: 5px;}
.tuijian .shangping ul li .dd .two font {text-decoration: line-through;color: #888888;}
.tuijian .shangping ul li .dd .three {color: #888888;}
.tuijian .heng1 {height: 1px;background: #e8e8e8;position: absolute;top: 195px;width: 100%;left:0;}
.tuijian .shu1 {height: 100%;background: #e8e8e8;position: absolute;left: 360px;top: 0;width: 1px;}
.tuijian .shu2 {height: 100%;background: #e8e8e8;position: absolute;left: 720px;top: 0;width: 1px;}

/*商品*/
.ware {margin-bottom: 40px;}
.ware .ware_top {height: 40px;border-bottom: 2px solid #ff9900;margin-bottom: 20px;}
.ware .ware_top span {float: left;font-size: 20px;width: 125px;height: 40px;line-height: 40px;text-align: center;background: #ff9900;color: #ffffff;display: block;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.ware .ware_top a {float: right;color: #555555;font-size: 14px;margin-top: 15px;}

.ware .ware_bottom {}
.ware .ware_bottom ul li {border: 1px solid #eeeeee;width: 230px;height: 310px;background: #ffffff;padding: 30px 10px 15px 10px;position: relative;float: left;margin-right: 18px;}
.ware .ware_bottom ul li .pic {width: 233px;height: 208px;margin-bottom: 20px;text-align: center;overflow: hidden}
.ware .ware_bottom ul li .pic img {width: 233px;}
.ware .ware_bottom ul li:last-child {margin-right: 0;}
.ware .ware_bottom ul li p a{font-size: 14px;line-height: 25px;color: #888888}
.ware .ware_bottom ul li p .one {color:#ff5500;margin-right: 10px;font-weight: bold}
.ware .ware_bottom ul li p .two {text-decoration: line-through;color: #888888;}
.ware .ware_bottom ul li .qianggou {width: 30px;height: 45px;background: #ff9900;text-align: center;border-radius: 50px;padding: 5px 10px 0 10px;position: absolute;bottom:-20px;right: 10px;line-height: 20px;}
.ware .ware_bottom ul li .qianggou a {color: #ffffff;font-size: 14px;text-decoration:none;}






























